body {
    background-color: #e1e1e1;
    margin: auto;
}

.header {
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-logo {
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.header-title {
    font-family: 'Pirata One';
    color: #000;
    font-size: 300%;
    display: block;
    margin-top: -1.5%;
}

.main-buttons {
    margin-bottom: 20px;
    margin-top: 10px;
}

.main-buttons-first {
    margin-top: 160px;
}

.main-buttons-second {
    margin-bottom: 100px;
}

.main-button {
    width: 40%;
    font-family: 'Pirata One';
    color: #000;
    background: none;
    border: none;
    font-size: 500%;
}

.main-button:first-of-type {
    margin-left: 10%;
}

.player-line {
    width: 94%;
    height: 300px;
    margin-left: 3%;
    border-radius: 80px;
    overflow: hidden;
    margin-bottom: 20px;
}

.player-line-top {
    height: 60%;
}

.player-line-bottom {
    height: 40%;
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
}

.player-line-top-left {
    width: 84%;
    height: 100%;
    float: left;
    padding-left: 1%;
    color: #fff;
}

.player-line-initiative-input {
    font-family: 'Pirata One';
    margin-left: 4%;
    display: block;
    float: left;
    text-align: center;
    font-size: 180px;
    line-height: 200px;
    width: 160px;
    height: 200px;
    margin-top: 0%;
    background: none;
    border: none;
    color: #fff;
    transform: translateZ(0);
    padding: 0;
    user-select: all;
}

.player-line-initiative-input::-webkit-outer-spin-button,
.player-line-initiative-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    max-inline-size: none; /* chrome 71 */
    max-width: unset; min-width: unset; /* iOS12 */
  }

.player-line-top-titles {
    float: left;
    width: 64%;
    margin-top: 13.5%;
    margin-left: 0;
}

.titles-class-name {
    font-family: 'Pirata One';
    font-size: 300%;
    margin-left: 4%;
}

.titles-divider {
    font-family: 'Pirata One';
    font-size: 400%;
    line-height: 80%;
    margin-left: 1%;
    margin-right: 1%;
}

.titles-player-real-name {
    font-family: 'Pirata One';
    font-size: 300%;
}

.player-line-top-right {
    width: 15%;
    height: 100%;
    float: left;
}

.delete-player {
    font-family: 'Pirata One';
    color: #fff;
    font-size: 100px;
    width: 100%;
    height: translate(100%-20px);
    margin-top: 20px;
    text-align: center;
    background: none;
    border: none;
    padding: 10px;
}

.character-symbol {
    height: 100%;
    float: left;
    margin-top: -0.5%;
    margin-left: 1%;
}

.character-symbol-of-default-player1 {
    filter: invert(67%) sepia(32%) saturate(605%) hue-rotate(156deg) brightness(87%) contrast(84%);
}

.character-symbol-of-default-player2 {
    filter: invert(75%) sepia(42%) saturate(198%) hue-rotate(9deg) brightness(93%) contrast(84%);
}

.character-symbol-of-default-player3 {
    filter: invert(58%) sepia(8%) saturate(1742%) hue-rotate(248deg) brightness(91%) contrast(90%);
}

.character-symbol-of-default-player4 {
    filter: invert(50%) sepia(16%) saturate(729%) hue-rotate(180deg) brightness(91%) contrast(83%);
}

.character-symbol-of-default-player5 {
    filter: invert(85%) sepia(29%) saturate(565%) hue-rotate(32deg) brightness(90%) contrast(89%);
}

.player-name {
    color: rgb(0,0,0);
    float: left;
    font-family: 'Pirata One';
    line-height: 120%;
    font-size: 650%;
    margin-left: 2%;
    margin-top: -0.5%;
    white-space: nowrap;
    overflow: hidden;
}

.monster-name {
    margin-left: 12%;
    letter-spacing: -5px;
}

.wrapper {
    z-index: 1;
}

.add-player-alert-background {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.add-player-alert {
    z-index: 4;
    width: 90%;
    background-color: #fff;
    position: fixed;
    top: 15%;
    left: 5%;
    border-radius: 60px;
    overflow: hidden;
    display: none;
}

.add-player-alert-header {
    width: 100%;
    height: 140px;
    background-color: rgb(32, 32, 32);
}

.add-player-alert-header span {
    font-family: 'Pirata One';
    color: #fff;
    font-size: 80px;
    line-height: 140px;
    margin-left: 60px;
}

.close-add-player-alert {
    background: none;
    border: none;
    font-family: 'Pirata One';
    color: #fff;
    font-size: 80px;
    float: right;
    margin-right: 60px;
    width: 100px;
    height: 100px;
    background-color: rgba(32, 32, 32, 0.1);
    border-radius: 20px;
    margin-top: 20px;
}

.add-player-alert-body {
    font-size: 60px;
    padding: 60px;
    padding-top: 40px;
    font-family: 'Crimson Text';
    padding-bottom: 40px;
}

.add-player-alert-body #playername, .add-player-alert-body #owner {
    background-color: rgba(32, 32, 32, 0.4);
    border: none;
    font-size: 60px;
    font-family: 'Crimson Text';
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    margin-left: -20px;
    margin-bottom: 20px;
    -webkit-appearance: none;
}

.add-player-alert-body #playermonster {
    appearance: none;
    border: 5px solid rgba(32, 32, 32, 1);
    height: 55px;
    width: 55px;
    margin-bottom: -8px;
}

.add-player-alert-body #playermonster:checked {
    background-color: rgba(32, 32, 32, 1);
    border: none;
}

.run-add-player {
    float: right;
    background: none;
    border: none;
    font-size: 80px;
    font-family: 'Pirata One';
    margin-bottom: 30px;
    margin-right: -10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    color: #fff;
}

.monster-name-old {
    color: #730b00;
}

.default-player1 {
    color: rgb(97, 166, 201);
}

.default-player2 {
    color: rgb(194, 183, 146);
}

.default-player3 {
    color: rgb(172, 123, 176);
}

.default-player4 {
    color: rgb(106, 123, 153);
}

.default-player5 {
    color: rgb(174, 208, 118);
}

.character-symbol {
    width: 80px;
    margin-right: 10px;
}


textarea:hover, 
textarea:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}