body {
    background-color: #e1e1e1;
}

.header {
    margin: 0;
    width: 100%;
    height: 10%;
    background-color: #fff;
    text-align: center;
}

.header-logo {
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.header-title {
    font-family: 'Pirata One';
    color: #000;
    font-size: 300%;
    display: block;
    margin-top: -1.5%;
}

.main-buttons {
    margin-bottom: 2%;
    margin-top: 1%
}

.main-button {
    width: 40%;
    font-family: 'Pirata One';
    color: #000;
    background: none;
    border: none;
    font-size: 500%;
}

.main-button:first-of-type {
    margin-left: 10%;
}

.monster-name {
    color: #730b00;
}

.default-player1 {
    color: rgb(97, 166, 201);
}

.default-player2 {
    color: rgb(194, 183, 146);
}

.default-player3 {
    color: rgb(172, 123, 176);
}

.default-player4 {
    color: rgb(106, 123, 153);
}

.default-player5 {
    color: rgb(174, 208, 118);
}

.character-symbol {
    width: 80px;
    margin-right: 10px;
}


textarea:hover, 
textarea:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}