body {
    background-color: #dcddd6;
}

.header {
    margin: auto;
    width: 790px;
    height: 40px;
    background-color: lightcoral;
    padding-left: 10px;
    overflow: hidden;
}

.header-title {
    margin-top: -8px;
    display: block;
    letter-spacing: -2px;
    word-spacing: 10px;
    float: left;
    font-family: Impact;
    font-size: 55px;
    line-height: 55px;
    color: #dcddd6;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.header-points {
    float: right;
    font-family: Arial;
    font-style: normal;
    font-weight: bolder;
    color: #dcddd6;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -5px;
    margin-right: 10px;
    margin-top: -8px;
}

.header span {
    padding: 0px;
}

.local {
    width: 800px;
    height: 800px;
    margin: auto;
}

.orders {
    width: 800px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.kitchen {
    width: 800px;
    height: 550px;
    background-color: #dedede;
    text-align: center;
    position: relative;
    overflow: hidden;

}

.kitchen-cooking {
    width: 800px;
    height: 550px;
    background-color: #dedede;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.kitchen-points {
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: left;
    z-index: 1;
}

.kitchen-points-header {
    background-color: lightcoral;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 15px;
    color: #dedede;
    overflow: hidden;
    letter-spacing: -5px;
    display: inline-block;
    font-size: 44px;
    height: 40px;
}

.kitchen-points-header span {
    font-size: 57px;
    line-height: 30px;
}

.kitchen-points-penalty {
    text-align: left;
    padding: 5px;
    background-color: lightcoral;
    color: #dedede;
    display: inline;
    margin-top: 10px;
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: -1px;
}

.kitchen-points-penalty-amount, .kitchen-points-penalty-pts {
    font-size: 20px;
}

.ingredient-prepared {
    color: lightgreen;
}

.order {
    width: 165px;
    height: 230px;
    background-color: #f1f1f1;
    float: left;
    font-family: "Courier Prime";
    padding: 10px;
    font-size: 15px;
    line-height: 13px;
    overflow: hidden;
    position: absolute;
    right: -185px;
    color: #313131;
}

.order-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    height: 30px;
    color: #fff;
    background-color: #313131;
    padding-left: 0px;
    text-align: center;
}

.order-header-prepared {
    color: lightgreen;
}

.order-content {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.order-name {
    font-weight: bold;
    word-spacing: -6px;
    letter-spacing: -1px;
    white-space: nowrap;
}

.order-ingredient {
    margin-left: 5px;
    display: inline-block;
}

.order-ingredient:first-letter {
    text-transform: uppercase;
}

.order-beverage, .order-side {
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    word-spacing: -5px;
}

.order-date {
    position: absolute;
    bottom: 10px;
    right: 15px;
    letter-spacing: -2px;
    font-size: 13px;
}

.beverage {
    width: 130px;
    height: 300px;
    font-family: Arial;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    position: absolute;
    right: -130px;
    bottom: 46px;
    border: 1px solid #000;
}

.beverage-name {
    display: block;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 200px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 125px;
    left: -35px;
}

.side {
    width: 200px;
    height: 250px;
    position: relative;
    left: -200px;
    top: 258px;
}

.side-fry {
    width: 20px;
    height: 200px;
    background-color: gold;
    border: 1px solid #000;
    float: left;
    z-index: 0;
    position: absolute;
}

.side-fry-small {
    bottom: 50px;
}

.side-fry-big {
    bottom: 100px;
}

.side-fry1 {
    transform: rotate(-10deg);
    left: 30px;
}

.side-fry2 {
    transform: rotate(5deg);
    left: 50px;
}

.side-fry3 {
    transform: rotate(15deg);
    left: 70px;
}

.side-fry4 {
    transform: rotate(-20deg);
    left: 90px;
}

.side-fry5 {
    transform: rotate(5deg);
    left: 110px;
}

.side-fry6 {
    transform: rotate(9deg);
    left: 140px;
}

.side-bag {
    width: 150px;
    background-color: rgb(255, 49, 49);
    z-index: 1;
    position: absolute;
    left: 25px;
    bottom: 0px;
    transform: perspective(10px) rotateX(-0.5deg);
    border: 1px solid #000;
}

.side-bag-big {
    height: 200px;
}

.side-bag-small {
    height: 150px;
}

.side-name {
    display: inline-block;
    margin-top: 40px;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
}

.instruction {
    width: 250px;
    height: 500px;
    background-color: #f1f1f1;
    font-family: Arial;
    position: fixed;
    left: 0px;
    top: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 40px;
}

.instruction-header {
    height: 40px;
    background-color: lightcoral;
    color: #dcddd6;
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    line-height: 25px;
    letter-spacing: -8px;
    padding-left: 20px;
    overflow: hidden;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
}

.instruction-scroll {
    font-weight: bold;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: fixed;
    left: 190px;
    top: 580px;
    background-color: lightcoral;
    color: #f1f1f1;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.instruction-text-block {
    padding-left: 10px;
    padding-right: 20px;
    font-family: Arial;
    font-size: 13px;
    text-align: left;
}

.instruction-text-block h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    text-transform: lowercase;
    margin-top: 8px;
}

.instruction-text-block span {
    margin-bottom: 0px;
    display: inline-block;
}

.instruction-text-block ul, .instrucion-ingredients ul, .instruction-beverages ul {
    margin: 0px;
    padding-left: 20px;
}

table {
    font-size: 13px;
    margin-left: 10px;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: lightcoral;
    color: #f1f1f1;
    font-style: italic;
}

tr td:first-child {
    font-weight: bold;
    text-align: center;
}

td, th {
    border: none;
    margin: none;
    padding: none;
    padding-left: 5px;
    padding-right: 5px;
}

td:nth-child(2):first-letter {
    text-transform: capitalize;
}

td:nth-child(3) {
    border: none;
    text-align: left;
}

.instruction-menu-burger-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px !important;
    margin-top: 5px;
    font-size: 12px;
    line-height: 10px;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px dotted #000;
}

.instruction-menu-burger-ingredients {
    display: inline;
    font-size: 10px;
    font-style: italic;
    font-family: Georgia;
    padding: 0;
    margin: 0;
    margin-bottom: 0px !important;
    text-align: left;
}

.beverage-coke {
    background-color: crimson;
    color: #fff;
}

.beverage-cokezero {
    background-color: crimson;
    color: #000;
    letter-spacing: -5px;
    font-size: 50px;
}

.beverage-fanta {
    background-color: darkorange;
    color: #fff;
    font-style: italic;
}

.beverage-sprite {
    background-color: green;
    color: #fff;
    font-style: italic
}

.beverage-orangejuice {
    background-color: orange;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.beverage-applejuice {
    background-color: sandybrown;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.beverage-orangejuice .beverage-name, .beverage-applejuice .beverage-name {
    transform: rotate(-70deg);
}

.beverage-beer {
    height: 250px;
    border-top: 25px solid silver;
    border-bottom: 25px solid silver;
    background-color: powderblue;
    color: #fff;
}

.ingredient {
    position: absolute;
    left: 250px;
    top: 0px;
    width: 280px;
    height: 100px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 12px;
    margin: 0;
    float: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

}

.ingredient-bun {
    background-image: url('ingredients/bun1.svg');
}

.upper-bun {
    background-image: url('ingredients/bun2.svg');
}

.ingredient-salad {
    background-image: url('ingredients/salad.svg');
}

.ingredient-cheese {
    background-image: url('ingredients/cheese.svg');
}

.ingredient-beef {
    background-image: url('ingredients/beef.svg');
}

.ingredient-becon {
    background-image: url('ingredients/becon.svg');
}

.ingredient-onion {
    background-image: url('ingredients/onion2.svg');
}

.ingredient-tomato {
    background-image: url('ingredients/tomato.svg');
}

.ingredient-mayonnaise {
    background-image: url('ingredients/mayonnaise.svg');
    background-position-y: bottom 18px;
}

.ingredient-ketchup {
    background-image: url('ingredients/ketchup.svg');
}

.ingredient-pickles {
    background-image: url('ingredients/pickles.svg');
}

.ingredient-veggieburger {
    background-image: url('ingredients/veggieburger.svg');
}

.ingredient-mustard {
    background-image: url('ingredients/mustard.svg');
}

.ingredient-originalsauce {
    background-image: url('ingredients/originalsauce.svg');
    background-position-y: bottom 18px;
}

.ingredient-chicken {
    background-image: url('ingredients/chicken.svg');
}